body {
  color: gray;
}

.products-container,
.cart-items-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.main-container {
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}